{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<div class="container mt-4 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h2 class="text-center mb-4">MI CARRITO</h2>
            <ul>
                {% if servicios_en_carrito %}
                    {% for item in servicios_en_carrito %}
                        <li>{{ item.servicio.nombre }} - Cantidad: {{ item.cantidad }}</li>
                    {% endfor %}
                {% else %}
                    <li>Tu carrito está vacío.</li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}
