{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}
<!-- Section -->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h1 style="text-align: center; margin-bottom: 25px;">Mis Compras</h1>

        <!-- Filtros -->
        <div class="filters mb-4">
            <div class="container mt-5">
                <a href="{% url 'inicio' %}" class="btn btn-secondary ms-3">Volver</a>
            </div>
            <form method="GET" action="{% url 'miscompras' %}">
                <input type="date" id="filter-date" name="date" class="form-control" placeholder="Filtrar por fecha">
                <select id="filter-status" name="status" class="form-control mt-2">
                    <option value="">Filtrar por estado</option>
                    <option value="completado">Completado</option>
                    <option value="cancelado">Cancelado</option>
                </select>
                <input type="text" id="filter-service" name="service" class="form-control mt-2" placeholder="Filtrar por tipo de servicio">
                <button type="submit" class="btn btn-primary mt-2">Aplicar Filtros</button>
            </form>
        </div>

        <!-- Lista de compras -->
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center" id="purchase-list">
            {% for compra in page_obj %}
            <div class="col mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ compra.servicio.imagen.url }}" alt="{{ compra.servicio.nombre }}">
                    <div class="card-body p-4">
                        <h5 class="card-title">{{ compra.servicio.nombre }}</h5>
                        <p class="card-text"><strong>Total:</strong> ${{ compra.total }}</p>
                        <p class="card-text"><strong>Cantidad:</strong> {{ compra.cantidad }}</p>
                        <p class="card-text"><strong>Fecha de Compra:</strong> {{ compra.fecha_compra|date:"Y-m-d H:i:s" }}</p>
                        <p class="card-text"><strong>Estado:</strong> {{ compra.venta.estado }}</p>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{% url 'Detailcompra' compra.id %}">Ver Detalles</a>
                            <br></br>
                            <button class="btn btn-outline-dark mt-auto download-btn">Descargar Comprobante</button>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div id="no-compras" class="no-compras col-12">
                <p>No Existen Compras en el Historial.</p>
            </div>
            {% endfor %}
        </div>

        <!-- Paginación -->
        <div class="pagination" style="text-align: center; margin-top: 20px;">
            <span style="display: block; margin-bottom: 10px;">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            <div class="pagination-buttons" style="display: inline-block;">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&date={{ request.GET.date }}&status={{ request.GET.status }}&service={{ request.GET.service }}" style="margin-right: 10px;">Anterior</a>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&date={{ request.GET.date }}&status={{ request.GET.status }}&service={{ request.GET.service }}">Siguiente</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
