{% extends "padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="container mt-5">
            <a href="{% url 'inicio' %}" class="btn btn-secondary ms-3">Volver</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ servicio.imagen.url }}" alt="{{ servicio.name }}"
                        style="max-height: 300px; object-fit: contain; width: 100%;" />

                    <div class="card-body p-4">
                        <h5 class="text-center" style="font-size: 2rem; font-weight: 700; margin-bottom: 1rem;">
                            {{ servicio.name }}
                        </h5>
                        <hr>
                        <p class="text-center"><strong>Vendido por:</strong> {{ servicio.vendedor.first_name }} {{servicio.vendedor.last_name }}</p>
                        <!-- Mostrar la calificación promedio del vendedor -->
                        <div class="calificacion" style="text-align: center;">
                            <div class="estrellas">
                                <!-- Estrellas doradas del vendedor -->
                                {% for estrella in estrellas_doradas_vendedor_list %}
                                <img src="{% static 'img/' %}{{ estrella }}" alt="Estrella dorada"
                                    style="width: 20px; height: 20px;">
                                {% endfor %}
                                <!-- Estrellas grises del vendedor -->
                                {% for estrella in estrellas_grises_vendedor_list %}
                                <img src="{% static 'img/' %}{{ estrella }}" alt="Estrella gris"
                                    style="width: 20px; height: 20px;">
                                {% endfor %}
                            </div>
                        </div>

                        <p class="text-left">Descripcion: {{ servicio.descripcion }}</p>
                        <hr>
                        <p><strong>Categoría:</strong> {{ servicio.categoria }}</p>
                        <p><strong>Zona:</strong> {{ servicio.zona }}</p>
                        <p><strong>Disponibilidad:</strong> {{ servicio.disponibilidadhoraria }}</p>
                        <p class="text-center" style="font-size: 1.25rem; font-weight: 700;">Precio: ${{ servicio.precio
                            }}</p>
                    </div>

                    <!-- Mostrar la calificación promedio del servicio -->
                    <div class="calificacion">
                        <p>Calificación promedio del servicio:
                        <div class="estrellas">
                            <!-- Estrellas doradas del servicio -->
                            {% for estrella in estrellas_doradas_list %}
                            <img src="{% static 'img/' %}{{ estrella }}" alt="Estrella dorada"
                                style="width: 20px; height: 20px;">
                            {% endfor %}
                            <!-- Estrellas grises del servicio -->
                            {% for estrella in estrellas_grises_list %}
                            <img src="{% static 'img/' %}{{ estrella }}" alt="Estrella gris"
                                style="width: 20px; height: 20px;">
                            {% endfor %}
                        </div>
                        </p>
                    </div>

                    <!-- Mostrar reseñas del servicio -->
                    <div class="reseñas">
                        <h3>Reseñas del Servicio:</h3>
                        {% for reseña in reseñas %}
                        <div class="reseña">
                            <strong>{{ reseña.usuario.username }} - {{ reseña.fecha|date:"d M Y" }}</strong>
                            <div class="calificacion">
                                <!-- Estrellas de la reseña -->
                                {% for estrella in reseña.estrellas_doradas %}
                                <img src="{% static 'img/' %}{{ estrella }}" alt="Estrella dorada"
                                    style="width: 20px; height: 20px;">
                                {% endfor %}
                                {% for estrella in reseña.estrellas_grises %}
                                <img src="{% static 'img/' %}{{ estrella }}" alt="Estrella gris"
                                    style="width: 20px; height: 20px;">
                                {% endfor %}
                            </div>
                            <p>{{ reseña.texto }}</p>
                        </div>
                        {% empty %}
                        <p>No hay reseñas para este servicio.</p>
                        {% endfor %}
                    </div>
                    <!-- Mostrar reseñas del vendedor -->
                    <div class="reseñas">
                        <h3>Reseñas del Vendedor:</h3>
                        {% for reseña in reseñas_vendedor %}
                        <div class="reseña">
                            <strong>{{ reseña.reseñador.username }} - {{ reseña.fecha|date:"d M Y" }}</strong>
                            <div class="calificacion">
                                <!-- Estrellas de la reseña del vendedor -->
                                {% for estrella in reseña.estrellas_doradas %}
                                <img src="{% static 'img/' %}{{ estrella }}" alt="Estrella dorada"
                                    style="width: 20px; height: 20px;">
                                {% endfor %}
                                {% for estrella in reseña.estrellas_grises %}
                                <img src="{% static 'img/' %}{{ estrella }}" alt="Estrella gris"
                                    style="width: 20px; height: 20px;">
                                {% endfor %}
                            </div>
                            <p>{{ reseña.texto }}</p>
                        </div>
                        {% empty %}
                        <p>No hay reseñas para este vendedor.</p>
                        {% endfor %}
                    </div>
                    <div class="text-center">
                        <a class="btn btn-outline-dark mt-auto" href="{% url 'anadir_al_carrito' servicio.id %}">Añadir
                            al carrito</a>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}