{% extends "padre.html" %}
{% load static %}

{% block contenidoQueCambia %}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-5">
                <div class="card h-100 text-center">
                    <!-- Cuerpo del card -->
                    <div class="card-body p-4">
                        <div>
                            <h5 class="text-center" style="font-size: 1.5rem; font-weight: 700; margin-bottom: 1rem;">
                                Eliminar Servicio
                            </h5>

                            <!-- Botón que activa el modal -->
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarModal">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal de confirmación de eliminación -->
<div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarModalLabel">Confirmación de Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿¿Estás seguro de eliminar el servicio??
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <!-- Formulario para eliminar el servicio -->
                <form method="POST" class="formulario" action="{% url 'eliminar_servicio' servicio.id %}">
                    {% csrf_token %}
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

